body {
    font-family: Arial, sans-serif;
    background-color:red;
    color: #333;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(25% - 40px);
}

footer {
    text-align: center;
    padding: 10px;
}
